@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/***MOBILE STYLES**********************************************/
/*General Styles*/
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; /* Stack header, main, and footer vertically */
}

main {
    flex: 1;
}



/*Header*/
header, 
  footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  
  header {
    padding: 15px 0;
  }
  
  header .content-wrapper {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  
  header figure {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
  }
  
  /* .header-divider {
    background-color: black;
    width: 100%;
    margin: 10px 0 20px 0;
    height: 1px; 
  } */
  
  .header-divider {
    width: 90%;
  }

  header nav {
    width: 100%;
    font-size: 1.125em;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }
  
  header nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
  }
  
  header nav ul li {
    font-size: 1.125em;
    list-style-type: none;
  }

  header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
  }

  img {
    width: 40px;
    height: auto;
    color: white;
  }

  .image-title {
    display: flex;
    width: 90%;
    justify-content: space-between;
  }

  /*Section*/

  .section-container-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }

  .section-container img {
    width:300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .hot-coffee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style-type: none;
  }

    .iced-coffee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style-type: none;
  }

  #data-list {
    list-style-type: none;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
  }

  #data-list-2 {
    list-style-type: none;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
  }


  /* Fonts */

  h1 {
    color: white;
    font-size: 28px;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
  }

  .section-container h1 {
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 25px;

  }

  .hot-coffee h1 {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    color: black;
  }

  .iced-coffee h1 {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    color: black;
  }

  p {
    font-size: 18px;
    padding-top: 25px;
    font-family: 'Open Sans', sans-serif;
  }

  /* Footer */

  .footer-content {
    display: flex;
    text-align: center;
  }

  footer h4 {
    color: white;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
  }

  footer p {
    padding-top: 0px;
    color: white;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 16px;
  }

  /***DESKTOP STYLES**********************************************/
  @media only screen and (min-width: 1200px) {
    /*Desktop Styles here*/

header .content-wrapper {
    width: 90%;
}

.image-title {
    width: 45%; 
    justify-content: flex-start;   
}

 .header-divider {
    width: 45%;
    display: flex;
    justify-content: flex-end;
}

header nav {
    width: 45%;
}

.section-container {
    flex-direction: row;
    flex-wrap: wrap;
}

.section-container h1 {
    width: 50%;
}

  }