@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/***MOBILE STYLES**********************************************/

/*Header*/
header, 
  footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  
  header {
    padding: 15px 0;
  }
  
  header .content-wrapper {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  
  header figure {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
  }
  
  .header-divider {
    background-color: black;
    width: 100%;
    margin: 10px 0 20px 0;
    height: 1px; 
  }
  
  header nav {
    width: 100%;
    font-size: 1.125em;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }
  
  header nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 0;
  }
  
  header nav ul li {
    font-size: 1.125em;
  }

  header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }

  img {
    width: 40px;
    height: auto;
    color: white;
  }

  .image-title {
    display: flex;
    width: 90%;
    justify-content: space-between;
  }

  /*Section*/

  .section-container-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }

  .section-container img {
    width:300px;
    height: auto;
  }

  .hot-coffee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style-type: none;
  }

    .iced-coffee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style-type: none;
  }

  #data-list {
    list-style-type: none;
    padding: 0px;
  }

  #data-list-2 {
    list-style-type: none;
    padding: 0px;
  }


  /* Fonts */

  h1 {
    color: white;
    font-size: 22px;
  }

  .section-container h1 {
    color: black;
    text-align: center;
    padding-top: 50px;
    font-size: 25px;
  }

  .hot-coffee h1 {
    color: black;
  }

  .iced-coffee h1 {
    color: black;
  }

  p {
    font-size: 14px;
  }
